* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#meio{
    display: flex;
    margin: 150px;
    justify-content: center;
    
}

.logo-meio{
    margin: auto;
    padding: 30px;
}

#fundo{
    display: flex;
    justify-content: center;
}

.frase{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: rgba(97, 113, 114, 0.87);
}